body {
    background-color: #1c1c1c;
}

.container {
    margin: auto;
    max-width: 63%;
}

div.black-keys {
    position: relative;
    z-index: 100;
    left: 20px;
    top: 202px;
}

.black-keys kbd {
    display: inline-block;
    background-color: black;
    color: white;
    border: #ab7d5c solid 3px;
    padding: 30px 20px;
    padding-top: 150px;
    margin-left: 25px;
    text-align: center;
}

#keyT, #keyU, #keyY {
    position: relative;
    left: 75px;
}

.white-keys kbd {
    display: inline-block;
    background-color: white;
    border: #ab7d5c solid 3px;
    padding: 30px 35px;
    padding-top: 250px;
    margin-left: -7px;
    text-align: center;
}